@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @import '@radix-ui/colors/gray.css';
  @import '@radix-ui/colors/blue.css';
  @import '@radix-ui/colors/green.css';
  @import '@radix-ui/colors/red.css';
  @import '@radix-ui/colors/gray-dark.css';
  @import '@radix-ui/colors/blue-dark.css';
  @import '@radix-ui/colors/green-dark.css';
  @import '@radix-ui/colors/red-dark.css';




  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px 12px;
    width: 200px;
    border-radius: 16px;
  }

  .buttonAddToBag {
    background: var(--slate-12);
    color: white;
  }

  .favorives {
    background-color: white;
    color: var(--slate-12);
    border: 3px solid var(--slate-12)
  }


  .mySwiper2 {
    margin-bottom: 40px;
  }